name: Unit Test hfkpy

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9.5
      uses: actions/setup-python@v3
      with:
        python-version: 3.9.5
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file hfkpy_test_env.yml --name hfkpy_test_env
    - name: Test with pytest
      run: |
        conda install pytest
        pytest -v
